.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(101, 66, 38);
  color: rgb(255, 255, 255);
}

/* CREDIT TO https://codepen.io/john_skowronski/pen/Egqqjy */
.outerBevel {
  box-shadow: 4px 6px 12px 0 black;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(109, 84, 58) rgb(24, 19, 13) rgb(24, 19, 13) rgb(109, 84, 58);
}

.flatSurface {
  border: 12px solid rgb(65, 40, 16);
}

.innerBevel {
  border-width: 5px;
  border-style: solid;
  border-color: rgb(24, 19, 13) rgb(109, 84, 58) rgb(109, 84, 58) rgb(24, 19, 13);
}

.rowOfThings {
  margin-top: 10px;
  width: 50vw;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.retrieveButton {
  margin-top: 10px;
  width: 10vw;
  height: 5vh;
  background-color: rgb(65, 40, 16);
  border: 2px solid rgb(24, 19, 13);
  border-radius: 5px;
  color: rgb(255, 255, 255);
  font-size: 1.2em;
  font-family: "Comic Sans MS", cursive, sans-serif;
  cursor: pointer;
}
